REACT_APP_NETWORK=mainnet

REACT_APP_MAINNET_MIDGARD=https://midgard.ninerealms.com
REACT_APP_MAINNET_THORNODE=https://thornode.ninerealms.com
REACT_APP_MAINNET_THORCHAIN_RPC=https://rpc.ninerealms.com

REACT_APP_DOGENODE_API_KEY=xxx
REACT_APP_ETHERSCAN_API_KEY=xxx
REACT_APP_ETHPLORER_API_KEY=xxx

# Local
REACT_APP_INFURA_PROJECT_ID=xxx

# Prod
# REACT_APP_INFURA_PROJECT_ID=xxx

REACT_APP_IS_SYNTH_ACTIVE=false

REACT_APP_SENTRY_DSN=xxx

REACT_APP_GOOGLE_ANALYTICS_ID=xxx

REACT_APP_IS_NETWORK_ONLINE=true

# Ethereum config
REACT_APP_RPC_URL=xxx

REACT_APP_BLOCKNATIVE_API_KEY=b649f950-2107-4634-8f55-4f4ddf98cc0d

# Ethereum network id
# 1 main Network
# 3 ropsten Test Network
# 4 rinkeby Test Network
# 5 goerli Test Network
# 42 kovan Test Network
# 56  bsc Binance Smart Chain Network
# 100 xdai POA Network
REACT_APP_ETHEREUM_NETWORK_ID=1

REACT_APP_PORTIS_API_KEY=xxx
REACT_APP_FORTMATIC_API_KEY=xxx
