.tooltip-container {
padding: 0px !important;
background: transparent !important;
}

.__react_component_tooltip.place-top::after,
.__react_component_tooltip.place-bottom::after,
.__react_component_tooltip.place-left::after,
.__react_component_tooltip.place-right::after {
  border: none !important;
}
